# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

SECRET_KEY = your_SECRET_KEY
DEBUG = True

NAME=your_database_name
USER=your_database_user
PASSWORD=your_password
HOST=localhost
PORT=5432