# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

SECRET_KEY = your_SECRET_KEY
DEBUG = True

NAME=your_database_name
USER=your_database_user
PASSWORD=your_password
HOST=localhost
PORT=5432

REDIS_URL=your_REDIS_URL

TELEGRAM_API=your_TELEGRAM_API
TELEGRAM_BOT=your_TELEGRAM_BOT

EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your-app-password